@using aspapp.Models.VM
@model IEnumerable<aspapp.Models.VM.TravelerViewModel>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@inject SignInManager<IdentityUser> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Traveler Index";
    var user = HttpContextAccessor.HttpContext?.User;
}

<h1>Traveler List</h1>

<p>
    <a href="@Url.Action("Create", "Traveler")" class="btn btn-primary">Create New Traveler</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Birth Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var traveler in Model)
        {
            <tr>
                <td>@traveler.Firstname</td>
                <td>@traveler.Lastname</td>
                <td>@traveler.Email</td>
                <td>@traveler.BirthDate.ToShortDateString()</td>
                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Edit", "Traveler", new { id = traveler.TravelerId })" class="btn btn-warning btn-sm">Edit</a>
                </td>

                @if(user.IsInRole("Admin")){
                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Delete", "Traveler", new { id = traveler.TravelerId })" class="btn btn-warning btn-sm">Delete</a>
                </td>
                }
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Home")" class="btn btn-secondary">Home</a>