@model IEnumerable<aspapp.Models.VM.GuideViewModel>

@{
    ViewData["Title"] = "Przewodnicy";
}

<h2>Lista Przewodników</h2>

<table class="table p-4 border rounded bg-grey">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Tytuł</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guide in Model)
        {
            <tr>
                <td>@guide.Firstname</td>
                <td>@guide.Lastname</td>
                <td>@guide.Email</td>
                <td>@guide.Title</td>

                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Edit", "Guide", new { id = guide.GuideId })" class="btn btn-warning btn-sm">Edit</a>
                </td>
                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Delete", "Guide", new { id = guide.GuideId })" class="btn btn-warning btn-sm">Delete</a>
                </td>
                
            </tr>
        }
    </tbody>
</table>
<a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Back to List</a>
