@model IEnumerable<aspapp.Models.VM.TravelerViewModel>
@{
    ViewData["Title"] = "Podróżnicy";
}

<h2>Lista Podróżników</h2>

<table class="table p-4 border rounded bg-grey">
    <thead>
        <tr>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Email</th>
            <th>Data urodzenia</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var traveler in Model)
        {
            <tr>
                <td>@traveler.Firstname</td>
                <td>@traveler.Lastname</td>
                <td>@traveler.Email</td>
                <td>@traveler.BirthDate.ToShortDateString()</td>

                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Edit", "Traveler", new { id = traveler.TravelerId })" class="btn btn-warning btn-sm">Edit</a>
                </td>
                <td>
                    <!-- Add edit or delete links here, if required -->
                    <a href="@Url.Action("Delete", "Traveler", new { id = traveler.TravelerId })" class="btn btn-warning btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
<a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Back to List</a>
