@model aspapp.Models.VM.TripViewModel

@{
    ViewData["Title"] = "Create New Trip";
}

<h1>Create New Trip</h1>

<form asp-action="Create" method="post" class="p-4 border rounded bg-grey">
    <div>
        <label asp-for="Destination" class="control-label"></label>
        <input asp-for="Destination" class="form-control" />
        <span asp-validation-for="Destination" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div >
        <label asp-for="EndDate" class="control-label"></label>
        <input asp-for="EndDate" class="form-control" type="date" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="GuideId" class="control-label"></label>
        <select asp-for="GuideId" class="form-control" asp-items="@(new SelectList(Model.Guides, "GuideId", "Firstname"))">
            <option value="">Select a Guide</option>
        </select>
        <span asp-validation-for="GuideId" class="text-danger"></span>
    </div>

    <div >
        <label for="Travelers">Travelers</label>
        <select asp-for="SelectedTravelerIds" class="form-control" multiple="multiple">
            @foreach (var traveler in Model.Travelers)
            {
                <option value="@traveler.TravelerId">@traveler.Firstname @traveler.Lastname</option>
            }
        </select>
        <span asp-validation-for="SelectedTravelerIds" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a href="@Url.Action("Index", "Trip")" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
